@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar_icon {
    @apply relative flex items-center justify-center h-10 w-10 sm:h-14 sm:w-14 my-4 mx-auto 
    shadow-sm dark:shadow-md
    bg-neutral-200 dark:bg-neutral-800 text-red-400 rounded-3xl
    hover:bg-red-700 hover:rounded-xl
    transition-all duration-200 ease-linear;
  }

  .sidebar_text {
    @apply absolute w-auto h-auto m-2 p-2 min-w-max left-14 rounded-md 
    shadow-xl dark:shadow-md
    text-black dark:text-white 
    bg-white dark:bg-neutral-700
    text-lg z-50
    transition-all duration-100 scale-0 origin-left;
  }

  .player_title {
    @apply
    rounded-3xl
    text-black dark:text-white 
    bg-gray-300 dark:bg-neutral-800 shadow-md dark:shadow-lg;
  }

  .pill {
    @apply
    m-1.5 px-2 py-1.5 rounded-full text-xs
    flex text-center items-center justify-center
  }

  .page-container {
    @apply h-full flex flex-row dark:bg-neutral-500
  }
}

html, body, #root{
  height: 100vh;
}

.commander-shadow {
  --tw-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.1);
  --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}